<div class="container">
  <h1>PRoduct list</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1001</td>
        <td>Red Tshirt</td>
        <td>39.99</td>
        <td>10</td>
      </tr>
      <tr>
        <td>1002</td>
        <td>Blue Tshirt</td>
        <td>29.99</td>
        <td>40</td>
      </tr>
      <tr>
        <td>1003</td>
        <td>Pants</td>
        <td>10.99</td>
        <td>15</td>
      </tr>
    </tbody>
  </table>
</div>
